* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    /* I am a container hold menu, which holds: date, signup, login */
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .menu {
    /* I am also a container holding: date, links which holds: signup, login */
    width: 900px;
    /* Give me flex control over my items */
    display: flex;
    /* Space around looks nice, evenly distributed in the container */
    /* justify-content: space-around; */
    justify-content: space-between;
    /* Space-between adds only space between items. */
  }

    /* Errything can be a container if it contains something */
    /* Contains: signup, login */
  .links {
    display: flex;
    justify-content: flex-end;
  }

  .login {
    margin-left: 20px;
  }

    